<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CancionesWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListarController</display-name>
    <servlet-name>ListarController</servlet-name>
    <servlet-class>com.formacion.canciones.controller.ListarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarController</servlet-name>
    <url-pattern>/ListarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>url que lleve a la BBDD</description>
    <display-name>ListaController</display-name>
    <servlet-name>ListaController</servlet-name>
    <servlet-class>com.formacion.canciones.controller.ListaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaController</servlet-name>
    <url-pattern>/Listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearController</display-name>
    <servlet-name>CrearController</servlet-name>
    <servlet-class>com.formacion.canciones.controller.CrearController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearController</servlet-name>
    <url-pattern>/CrearController</url-pattern>
    <url-pattern>/crear</url-pattern>
  </servlet-mapping>
</web-app>